<!DOCTYPE html>
<html>
<head>
    <h1 style="text-align:left;"><a href="/">Back</a></h1>
    <h1 style="text-align:right;"><a href="/aregister">Register as a new Artist</a></h1>
    <title>Artist Login</title>
</head>
<body>
    <h1>Artist Login</h1>
    <form action="/artist" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
