<!DOCTYPE html>
<html>
<head>
<h3 style="text-align:left;"><a href="/">Back</a></h3>
<h1 style="text-align:right;"><a href="/register">Regester as new user</a></h1>
	<title>User Login</title>
</head>
<body>
	<h1>User Login</h1>
	<form action="/user" method="post">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<input type="submit" value="Login">
	</form>
</body>
</html>
