<!DOCTYPE html>
<html>
<head>
	<h3 style="text-align:left;"><a href="/">Back</a></h3>
	<title>User Registration</title>
</head>
<body>
	<h1>User Registration</h1>
	<form action="" method="post">
		<label for="newusername">New Username:</label>
		<input type="text" id="newusername" name="newusername"><br><br>
		<label for="newpassword">New Password:</label>
		<input type="password" id="newpassword" name="newpassword"><br><br>
		<label for="fullname">Full name :</label>
		<input type="text" id="fullname" name="fullname"><br><br>
		<input type="submit" value="Register">
	</form>
</body>
</html>
